
#newStoreRegistry {
	margin-left: 150px;
}

#newStoreRegistry > input {
	vertical-align: 300%;
	font-size: 16px;
	margin-left: 5px;
	height: 70px;
}

#newStoreEntry {
	display: inline;
	border: 1px solid black;
}

#newStoreEntry > input {
	border: 1px solid black;
	width: 250px;
}

#newStoreEntry > input, label {
	display: block;
	padding: 5px;
	margin-top: 5px;
	font-size: 16px;
}